# Calculation of Percentiles by industry and feature - Quarterly period

I will calculate percetiles on the industry firms for two variables to start: 'eff_tax_rate%' and 'deduc_to_income_ratio'.

I will calculate an overall percentile, and a industry percentile

In [36]:
%load_ext autoreload

In [37]:
%autoreload 2

In [38]:
import pandas as pd
import numpy as np

from dstools.mlutils.corp_tax_audit_unsupervised import (
                    add_percentile,
                    add_abs_diffs,
                    get_kmean_clusters,
                    get_inertia_vs_k,
                    get_cluster_counts,
                    get_outlier_scores
)
import hvplot.pandas
import matplotlib.pyplot as plt
from typing import List, Dict

In [4]:
%store -r q_industries_original
q_industries_original.head()

,naics_code,business_id,bus_loc_id,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,sumsum_deduc,sumsum_taxable,sumsum_paid,eff_tax_rate%,deduc_to_income_ratio,naics2
date,,,,,,,,,,,,,,
2001Q1,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,16193.58,0.00,16193.58,67.20,0.414979,0.000000,22
2001Q2,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,158968.92,0.00,158968.92,659.72,0.414999,0.000000,22
2001Q3,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,95335.05,20497.55,74837.50,310.58,0.325777,0.215005,22
2001Q4,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,36138.27,36138.27,0.00,0.00,0.000000,1.000000,22
2002Q1,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,7334.92,0.00,7334.92,30.44,0.415001,0.000000,22

In [193]:
#q_industries = q_industries_original
if type(q_industries.index)== pd.core.indexes.range.RangeIndex:
    q_industries.set_index('date', inplace=True, drop=True)
print(type(q_industries.index))
print(q_industries.columns)

<class 'pandas.core.indexes.period.PeriodIndex'>
Index(['index', 'naics2', 'business_id', 'bus_loc_id', 'naics_code',
       'business_legal_name', 'maxNumLoc', 'tax_period_cd', 'obl_type_id',
       'sumsum_gross', 'sumsum_deduc', 'sumsum_taxable', 'sumsum_paid',
       'eff_tax_rate%', 'deduc_to_income_ratio', 'eff_tax%_perc_glob',
       'eff_tax%_perc_ind', 'deduc2income_perc_glob', 'deduc2income_perc_ind',
       '4Delta_abs_eff_tax_rate%', '4Delta_abs_deduc_to_income_ratio',
       '4D_eff_tax%_perc_glob', '4D_deduc2income_perc_glob',
       '4D_eff_tax_perc_ind', '4D_deduc2income_perc_ind', 'k-cluster_ind',
       'k-cluster_g', 'sumsum_gross_perc_glob', 'sumsum_gross_perc_ind'],
      dtype='object')

In [6]:
# Adding Global effective tax rate percentile
feature = 'eff_tax_rate%'
new_name = 'eff_tax%_perc_glob'
add_percentile(df=q_industries, col=feature, new_name=new_name)
q_industries.head()

,naics_code,business_id,bus_loc_id,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,sumsum_deduc,sumsum_taxable,sumsum_paid,eff_tax_rate%,deduc_to_income_ratio,naics2,eff_tax%_perc_glob
date,,,,,,,,,,,,,,,
2001Q1,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,16193.58,0.00,16193.58,67.20,0.414979,0.000000,22,0.721733
2001Q2,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,158968.92,0.00,158968.92,659.72,0.414999,0.000000,22,0.814791
2001Q3,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,95335.05,20497.55,74837.50,310.58,0.325777,0.215005,22,0.625852
2001Q4,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,36138.27,36138.27,0.00,0.00,0.000000,1.000000,22,0.003649
2002Q1,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,7334.92,0.00,7334.92,30.44,0.415001,0.000000,22,0.906874

In [7]:
# Add single industry percentile - Effecctive Tax Rate %
# IMPORTANT: columns of the q_industries may not have to contain the percentiles
feature = 'eff_tax_rate%'
new_name = 'eff_tax%_perc_ind'


for naics2_code in q_industries['naics2'].unique():
    # Create a subset DataFrame for the current naics2 code
    single_industry_df = q_industries[q_industries['naics2'] == naics2_code].copy()
    
    # Calculate the percentiles within the group
    # (Obs: When applying the function, the assingment using loc did not work, so reconstruct calculation.)
    single_industry_df[new_name] = single_industry_df[[feature]].groupby(
                                            by=[single_industry_df.index.year, 
                                                single_industry_df.index.quarter
                                               ]).rank(method="average", pct=True)
 
    # Update the original DataFrame with the calculated percentiles
    q_industries.loc[q_industries['naics2'] == naics2_code, new_name] = single_industry_df[new_name]
    #print(q_industries[new_name].isnull().sum())

q_industries.head()

,naics_code,business_id,bus_loc_id,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,sumsum_deduc,sumsum_taxable,sumsum_paid,eff_tax_rate%,deduc_to_income_ratio,naics2,eff_tax%_perc_glob,eff_tax%_perc_ind
date,,,,,,,,,,,,,,,,
2001Q1,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,16193.58,0.00,16193.58,67.20,0.414979,0.000000,22,0.721733,0.909091
2001Q2,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,158968.92,0.00,158968.92,659.72,0.414999,0.000000,22,0.814791,1.000000
2001Q3,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,95335.05,20497.55,74837.50,310.58,0.325777,0.215005,22,0.625852,0.909091
2001Q4,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,36138.27,36138.27,0.00,0.00,0.000000,1.000000,22,0.003649,0.090909
2002Q1,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,7334.92,0.00,7334.92,30.44,0.415001,0.000000,22,0.906874,1.000000

In [8]:
q_industries['eff_tax%_perc_glob'].describe()

count    847245.000000
mean          0.500060
std           0.288677
min           0.000922
25%           0.250053
50%           0.500053
75%           0.750081
max           1.000000
Name: eff_tax%_perc_glob, dtype: float64

In [9]:
# Adding Global deduction to income ratio
feature = 'deduc_to_income_ratio'
new_name = 'deduc2income_perc_glob'
add_percentile(df=q_industries, col=feature, new_name=new_name)
q_industries.head()

,naics_code,business_id,bus_loc_id,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,sumsum_deduc,sumsum_taxable,sumsum_paid,eff_tax_rate%,deduc_to_income_ratio,naics2,eff_tax%_perc_glob,eff_tax%_perc_ind,deduc2income_perc_glob
date,,,,,,,,,,,,,,,,,
2001Q1,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,16193.58,0.00,16193.58,67.20,0.414979,0.000000,22,0.721733,0.909091,0.390064
2001Q2,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,158968.92,0.00,158968.92,659.72,0.414999,0.000000,22,0.814791,1.000000,0.389619
2001Q3,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,95335.05,20497.55,74837.50,310.58,0.325777,0.215005,22,0.625852,0.909091,0.912581
2001Q4,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,36138.27,36138.27,0.00,0.00,0.000000,1.000000,22,0.003649,0.090909,0.997867
2002Q1,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,7334.92,0.00,7334.92,30.44,0.415001,0.000000,22,0.906874,1.000000,0.389933

In [10]:
# Notice that up to percentile 80 still values are zero for the deduc to income ratio
digits = 3
value_counts = q_industries['deduc_to_income_ratio'].round(digits).value_counts()
percentage = 100 * value_counts / q_industries.shape[0]

result = pd.concat([value_counts, percentage], axis=1)
result.columns = ['Value Counts for deduc to income ratio', 'Frequency %']
result

       Value Counts for deduc to income ratio  Frequency %
0.000                                  681093    80.389144
0.001                                    3509     0.414166
0.002                                    2929     0.345709
0.003                                    2404     0.283743
0.004                                    2102     0.248098
...                                       ...          ...
0.588                                      60     0.007082
0.682                                      59     0.006964
0.730                                      59     0.006964
0.715                                      57     0.006728
0.647                                      57     0.006728

[1001 rows x 2 columns]

In [11]:
# Add single industry percentile - deduc to income ratio
# IMPORTANT: columns of the q_industries may not have to contain the percentiles
feature = 'deduc_to_income_ratio'
new_name = 'deduc2income_perc_ind'
    
for naics2_code in q_industries['naics2'].unique():
    # Create a subset DataFrame for the current naics2 code
    single_industry_df = q_industries[q_industries['naics2'] == naics2_code].copy()
    
    # Calculate the percentiles (Obs: When applying the function, the assingment using loc where not working)
    single_industry_df[new_name] = single_industry_df[[feature]].groupby(
                                            by=[single_industry_df.index.year, 
                                                single_industry_df.index.quarter
                                               ]).rank(method="average", pct=True)
 
    # Update the original DataFrame with the calculated percentiles
    q_industries.loc[q_industries['naics2'] == naics2_code, new_name] = single_industry_df[new_name]
    #print(q_industries[new_name].isnull().sum())

q_industries.head()

,naics_code,business_id,bus_loc_id,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,sumsum_deduc,sumsum_taxable,sumsum_paid,eff_tax_rate%,deduc_to_income_ratio,naics2,eff_tax%_perc_glob,eff_tax%_perc_ind,deduc2income_perc_glob,deduc2income_perc_ind
date,,,,,,,,,,,,,,,,,,
2001Q1,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,16193.58,0.00,16193.58,67.20,0.414979,0.000000,22,0.721733,0.909091,0.390064,0.454545
2001Q2,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,158968.92,0.00,158968.92,659.72,0.414999,0.000000,22,0.814791,1.000000,0.389619,0.454545
2001Q3,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,95335.05,20497.55,74837.50,310.58,0.325777,0.215005,22,0.625852,0.909091,0.912581,0.909091
2001Q4,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,36138.27,36138.27,0.00,0.00,0.000000,1.000000,22,0.003649,0.090909,0.997867,1.000000
2002Q1,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,7334.92,0.00,7334.92,30.44,0.415001,0.000000,22,0.906874,1.000000,0.389933,0.454545

%store q_industries

In [12]:
# delete?
tsample = q_industries[(q_industries.index.year == 2010) #& (q_industries.index.quarter == 2)
                      &(q_industries['naics2']=='23')][['eff_tax_rate%', 'eff_tax%_perc_ind']]
tsample.sort_values(by='eff_tax%_perc_ind').hvplot(kind='scatter', y='eff_tax%_perc_ind', x='eff_tax_rate%')

:Scatter   [eff_tax_rate%]   (eff_tax%_perc_ind)

In [13]:
#delete?
tsample = tsample.sort_values(by='eff_tax_rate%')
tsample[(tsample['eff_tax_rate%']>0.4080)&(tsample['eff_tax_rate%']<0.41)]

        eff_tax_rate%  eff_tax%_perc_ind
date
2010Q3       0.408266           0.910377
2010Q4       0.408513           0.909842
2010Q2       0.408558           0.901143
2010Q2       0.408985           0.901816
2010Q1       0.408997           0.897315
2010Q1       0.409619           0.897987
2010Q2       0.409955           0.902488

In [14]:
tsample = tsample.sort_values(by='eff_tax_rate%')
tsample[(tsample['eff_tax%_perc_ind']>0.2495)&(tsample['eff_tax%_perc_ind']<0.2505)]

        eff_tax_rate%  eff_tax%_perc_ind
date
2010Q4       0.214996           0.249828
2010Q1       0.214996           0.250000
2010Q1       0.214996           0.250000
2010Q3       0.214997           0.250000
2010Q2       0.214997           0.250168

In [15]:
q_industries.head()

,naics_code,business_id,bus_loc_id,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,sumsum_deduc,sumsum_taxable,sumsum_paid,eff_tax_rate%,deduc_to_income_ratio,naics2,eff_tax%_perc_glob,eff_tax%_perc_ind,deduc2income_perc_glob,deduc2income_perc_ind
date,,,,,,,,,,,,,,,,,,
2001Q1,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,16193.58,0.00,16193.58,67.20,0.414979,0.000000,22,0.721733,0.909091,0.390064,0.454545
2001Q2,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,158968.92,0.00,158968.92,659.72,0.414999,0.000000,22,0.814791,1.000000,0.389619,0.454545
2001Q3,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,95335.05,20497.55,74837.50,310.58,0.325777,0.215005,22,0.625852,0.909091,0.912581,0.909091
2001Q4,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,36138.27,36138.27,0.00,0.00,0.000000,1.000000,22,0.003649,0.090909,0.997867,1.000000
2002Q1,221122,109874,110874,ISLAND UTILITY COMPANY,1,Q,10,7334.92,0.00,7334.92,30.44,0.415001,0.000000,22,0.906874,1.000000,0.389933,0.454545

## Percentiles on the differences

In [16]:
q_industries = add_abs_diffs(X=q_industries, 
                    abs_diff_cols= ['eff_tax_rate%', 'deduc_to_income_ratio'], 
                    reference_cols=['naics2', 'business_id', 'bus_loc_id']
                  )

['naics2', 'business_id', 'bus_loc_id', 'date']

In [17]:
q_industries.columns

Index(['naics2', 'business_id', 'bus_loc_id', 'naics_code',
       'business_legal_name', 'maxNumLoc', 'tax_period_cd', 'obl_type_id',
       'sumsum_gross', 'sumsum_deduc', 'sumsum_taxable', 'sumsum_paid',
       'eff_tax_rate%', 'deduc_to_income_ratio', 'eff_tax%_perc_glob',
       'eff_tax%_perc_ind', 'deduc2income_perc_glob', 'deduc2income_perc_ind',
       '1Delta_abs_eff_tax_rate%', '1Delta_abs_deduc_to_income_ratio',
       '4Delta_abs_eff_tax_rate%', '4Delta_abs_deduc_to_income_ratio'],
      dtype='object')

In [18]:
# Adding Global effective tax rate percentile
feature = '4Delta_abs_eff_tax_rate%'
new_name = '4D_eff_tax%_perc_glob'
add_percentile(df=q_industries, col=feature, new_name=new_name)
q_industries.head()

,naics2,business_id,bus_loc_id,naics_code,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,sumsum_deduc,...,deduc_to_income_ratio,eff_tax%_perc_glob,eff_tax%_perc_ind,deduc2income_perc_glob,deduc2income_perc_ind,1Delta_abs_eff_tax_rate%,1Delta_abs_deduc_to_income_ratio,4Delta_abs_eff_tax_rate%,4Delta_abs_deduc_to_income_ratio,4D_eff_tax%_perc_glob
date,,,,,,,,,,,,,,,,,,,,,
2001Q1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,16193.58,0.00,...,0.000000,0.721733,0.909091,0.390064,0.454545,0.000000,0.000000,0.000000,0.0,0.500045
2001Q2,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,158968.92,0.00,...,0.000000,0.814791,1.000000,0.389619,0.454545,0.000020,0.000000,0.000000,0.0,0.500184
2001Q3,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,95335.05,20497.55,...,0.215005,0.625852,0.909091,0.912581,0.909091,-0.089222,0.215005,0.000000,0.0,0.500093
2001Q4,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,36138.27,36138.27,...,1.000000,0.003649,0.090909,0.997867,1.000000,-0.325777,0.784995,0.000000,0.0,0.499573
2002Q1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,7334.92,0.00,...,0.000000,0.906874,1.000000,0.389933,0.454545,0.415001,-1.000000,0.000022,0.0,0.804250

In [19]:
# Adding Global effective tax rate percentile
feature = '4Delta_abs_deduc_to_income_ratio'
new_name = '4D_deduc2income_perc_glob'
add_percentile(df=q_industries, col=feature, new_name=new_name)
q_industries.head()

,naics2,business_id,bus_loc_id,naics_code,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,sumsum_deduc,...,eff_tax%_perc_glob,eff_tax%_perc_ind,deduc2income_perc_glob,deduc2income_perc_ind,1Delta_abs_eff_tax_rate%,1Delta_abs_deduc_to_income_ratio,4Delta_abs_eff_tax_rate%,4Delta_abs_deduc_to_income_ratio,4D_eff_tax%_perc_glob,4D_deduc2income_perc_glob
date,,,,,,,,,,,,,,,,,,,,,
2001Q1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,16193.58,0.00,...,0.721733,0.909091,0.390064,0.454545,0.000000,0.000000,0.000000,0.0,0.500045,0.500000
2001Q2,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,158968.92,0.00,...,0.814791,1.000000,0.389619,0.454545,0.000020,0.000000,0.000000,0.0,0.500184,0.499954
2001Q3,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,95335.05,20497.55,...,0.625852,0.909091,0.912581,0.909091,-0.089222,0.215005,0.000000,0.0,0.500093,0.500047
2001Q4,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,36138.27,36138.27,...,0.003649,0.090909,0.997867,1.000000,-0.325777,0.784995,0.000000,0.0,0.499573,0.500190
2002Q1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,7334.92,0.00,...,0.906874,1.000000,0.389933,0.454545,0.415001,-1.000000,0.000022,0.0,0.804250,0.498629

In [20]:
# Add single industry percentile - 4 Delta Effective Tax Rate %
feature = '4Delta_abs_eff_tax_rate%'
new_name = '4D_eff_tax_perc_ind'


for naics2_code in q_industries['naics2'].unique():
    # Create a subset DataFrame for the current naics2 code
    single_industry_df = q_industries[q_industries['naics2'] == naics2_code].copy()
    
    # Calculate the percentiles within the group
    # (Obs: When applying the function, the assingment using loc did not work, so reconstruct calculation.)
    single_industry_df[new_name] = single_industry_df[[feature]].groupby(
                                            by=[single_industry_df.index.year, 
                                                single_industry_df.index.quarter
                                               ]).rank(method="average", pct=True)
 
    # Update the original DataFrame with the calculated percentiles
    q_industries.loc[q_industries['naics2'] == naics2_code, new_name] = single_industry_df[new_name]
    #print(q_industries[new_name].isnull().sum())

q_industries.head()

,naics2,business_id,bus_loc_id,naics_code,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,sumsum_deduc,...,eff_tax%_perc_ind,deduc2income_perc_glob,deduc2income_perc_ind,1Delta_abs_eff_tax_rate%,1Delta_abs_deduc_to_income_ratio,4Delta_abs_eff_tax_rate%,4Delta_abs_deduc_to_income_ratio,4D_eff_tax%_perc_glob,4D_deduc2income_perc_glob,4D_eff_tax_perc_ind
date,,,,,,,,,,,,,,,,,,,,,
2001Q1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,16193.58,0.00,...,0.909091,0.390064,0.454545,0.000000,0.000000,0.000000,0.0,0.500045,0.500000,0.545455
2001Q2,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,158968.92,0.00,...,1.000000,0.389619,0.454545,0.000020,0.000000,0.000000,0.0,0.500184,0.499954,0.545455
2001Q3,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,95335.05,20497.55,...,0.909091,0.912581,0.909091,-0.089222,0.215005,0.000000,0.0,0.500093,0.500047,0.545455
2001Q4,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,36138.27,36138.27,...,0.090909,0.997867,1.000000,-0.325777,0.784995,0.000000,0.0,0.499573,0.500190,0.545455
2002Q1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,7334.92,0.00,...,1.000000,0.389933,0.454545,0.415001,-1.000000,0.000022,0.0,0.804250,0.498629,0.545455

In [21]:
# Add single industry percentile - deduc to income ratio
# IMPORTANT: columns of the q_industries may not have to contain the percentiles
feature = '4Delta_abs_deduc_to_income_ratio'
new_name = '4D_deduc2income_perc_ind'
    
for naics2_code in q_industries['naics2'].unique():
    # Create a subset DataFrame for the current naics2 code
    single_industry_df = q_industries[q_industries['naics2'] == naics2_code].copy()
    
    # Calculate the percentiles (Obs: When applying the function, the assingment using loc where not working)
    single_industry_df[new_name] = single_industry_df[[feature]].groupby(
                                            by=[single_industry_df.index.year, 
                                                single_industry_df.index.quarter
                                               ]).rank(method="average", pct=True)
 
    # Update the original DataFrame with the calculated percentiles
    q_industries.loc[q_industries['naics2'] == naics2_code, new_name] = single_industry_df[new_name]
    #print(q_industries[new_name].isnull().sum())

q_industries.head()

,naics2,business_id,bus_loc_id,naics_code,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,sumsum_deduc,...,deduc2income_perc_glob,deduc2income_perc_ind,1Delta_abs_eff_tax_rate%,1Delta_abs_deduc_to_income_ratio,4Delta_abs_eff_tax_rate%,4Delta_abs_deduc_to_income_ratio,4D_eff_tax%_perc_glob,4D_deduc2income_perc_glob,4D_eff_tax_perc_ind,4D_deduc2income_perc_ind
date,,,,,,,,,,,,,,,,,,,,,
2001Q1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,16193.58,0.00,...,0.390064,0.454545,0.000000,0.000000,0.000000,0.0,0.500045,0.500000,0.545455,0.545455
2001Q2,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,158968.92,0.00,...,0.389619,0.454545,0.000020,0.000000,0.000000,0.0,0.500184,0.499954,0.545455,0.545455
2001Q3,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,95335.05,20497.55,...,0.912581,0.909091,-0.089222,0.215005,0.000000,0.0,0.500093,0.500047,0.545455,0.545455
2001Q4,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,36138.27,36138.27,...,0.997867,1.000000,-0.325777,0.784995,0.000000,0.0,0.499573,0.500190,0.545455,0.545455
2002Q1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,7334.92,0.00,...,0.389933,0.454545,0.415001,-1.000000,0.000022,0.0,0.804250,0.498629,0.545455,0.590909

In [22]:
q_industries.columns

Index(['naics2', 'business_id', 'bus_loc_id', 'naics_code',
       'business_legal_name', 'maxNumLoc', 'tax_period_cd', 'obl_type_id',
       'sumsum_gross', 'sumsum_deduc', 'sumsum_taxable', 'sumsum_paid',
       'eff_tax_rate%', 'deduc_to_income_ratio', 'eff_tax%_perc_glob',
       'eff_tax%_perc_ind', 'deduc2income_perc_glob', 'deduc2income_perc_ind',
       '1Delta_abs_eff_tax_rate%', '1Delta_abs_deduc_to_income_ratio',
       '4Delta_abs_eff_tax_rate%', '4Delta_abs_deduc_to_income_ratio',
       '4D_eff_tax%_perc_glob', '4D_deduc2income_perc_glob',
       '4D_eff_tax_perc_ind', '4D_deduc2income_perc_ind'],
      dtype='object')

In [23]:
q_industries.drop(columns=['1Delta_abs_eff_tax_rate%', '1Delta_abs_deduc_to_income_ratio'], inplace=True)
q_industries.columns

Index(['naics2', 'business_id', 'bus_loc_id', 'naics_code',
       'business_legal_name', 'maxNumLoc', 'tax_period_cd', 'obl_type_id',
       'sumsum_gross', 'sumsum_deduc', 'sumsum_taxable', 'sumsum_paid',
       'eff_tax_rate%', 'deduc_to_income_ratio', 'eff_tax%_perc_glob',
       'eff_tax%_perc_ind', 'deduc2income_perc_glob', 'deduc2income_perc_ind',
       '4Delta_abs_eff_tax_rate%', '4Delta_abs_deduc_to_income_ratio',
       '4D_eff_tax%_perc_glob', '4D_deduc2income_perc_glob',
       '4D_eff_tax_perc_ind', '4D_deduc2income_perc_ind'],
      dtype='object')

# Add Pecentiles on sales (size)

In [188]:
# Adding Global effective tax rate percentile
feature = 'sumsum_gross'
new_name = 'sumsum_gross_perc_glob'
add_percentile(df=q_industries, col=feature, new_name=new_name)
q_industries.head()

,index,naics2,business_id,bus_loc_id,naics_code,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,...,deduc2income_perc_ind,4Delta_abs_eff_tax_rate%,4Delta_abs_deduc_to_income_ratio,4D_eff_tax%_perc_glob,4D_deduc2income_perc_glob,4D_eff_tax_perc_ind,4D_deduc2income_perc_ind,k-cluster_ind,k-cluster_g,sumsum_gross_perc_glob
date,,,,,,,,,,,,,,,,,,,,,
2001Q1,0,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,16193.58,...,0.454545,0.000000,0.0,0.500045,0.500000,0.545455,0.545455,0.0,1,0.085914
2001Q2,1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,158968.92,...,0.454545,0.000000,0.0,0.500184,0.499954,0.545455,0.545455,0.0,1,0.586863
2001Q3,2,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,95335.05,...,0.909091,0.000000,0.0,0.500093,0.500047,0.545455,0.545455,0.0,1,0.467638
2001Q4,3,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,36138.27,...,1.000000,0.000000,0.0,0.499573,0.500190,0.545455,0.545455,1.0,2,0.241137
2002Q1,4,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,7334.92,...,0.454545,0.000022,0.0,0.804250,0.498629,0.545455,0.590909,0.0,1,0.023600

In [189]:
# Add single industry percentile - Effecctive Tax Rate %
# IMPORTANT: columns of the q_industries may not have to contain the percentiles
feature = 'sumsum_gross'
new_name = 'sumsum_gross_perc_ind'


for naics2_code in q_industries['naics2'].unique():
    # Create a subset DataFrame for the current naics2 code
    single_industry_df = q_industries[q_industries['naics2'] == naics2_code].copy()
    
    # Calculate the percentiles within the group
    # (Obs: When applying the function, the assingment using loc did not work, so reconstruct calculation.)
    single_industry_df[new_name] = single_industry_df[[feature]].groupby(
                                            by=[single_industry_df.index.year, 
                                                single_industry_df.index.quarter
                                               ]).rank(method="average", pct=True)
 
    # Update the original DataFrame with the calculated percentiles
    q_industries.loc[q_industries['naics2'] == naics2_code, new_name] = single_industry_df[new_name]
    #print(q_industries[new_name].isnull().sum())

q_industries.head()

,index,naics2,business_id,bus_loc_id,naics_code,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,...,4Delta_abs_eff_tax_rate%,4Delta_abs_deduc_to_income_ratio,4D_eff_tax%_perc_glob,4D_deduc2income_perc_glob,4D_eff_tax_perc_ind,4D_deduc2income_perc_ind,k-cluster_ind,k-cluster_g,sumsum_gross_perc_glob,sumsum_gross_perc_ind
date,,,,,,,,,,,,,,,,,,,,,
2001Q1,0,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,16193.58,...,0.000000,0.0,0.500045,0.500000,0.545455,0.545455,0.0,1,0.085914,0.090909
2001Q2,1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,158968.92,...,0.000000,0.0,0.500184,0.499954,0.545455,0.545455,0.0,1,0.586863,0.636364
2001Q3,2,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,95335.05,...,0.000000,0.0,0.500093,0.500047,0.545455,0.545455,0.0,1,0.467638,0.545455
2001Q4,3,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,36138.27,...,0.000000,0.0,0.499573,0.500190,0.545455,0.545455,1.0,2,0.241137,0.181818
2002Q1,4,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,7334.92,...,0.000022,0.0,0.804250,0.498629,0.545455,0.590909,0.0,1,0.023600,0.090909

# Clusters addition

Here we add the global clusters as well as the Industry level clusters

In [30]:
get_inertia_vs_k(X_final=q_industries, columns=['eff_tax%_perc_glob',
       'eff_tax%_perc_ind', 'deduc2income_perc_glob', 'deduc2income_perc_ind',
       '4D_eff_tax%_perc_glob', '4D_deduc2income_perc_glob',
       '4D_eff_tax_perc_ind', '4D_deduc2income_perc_ind']  , random_state = 19, plots=True)

:Curve   [k]   (inertia)

,k,inertia,inertia_fraction_with_respect_to_one_cluster,inertia_rate_of_decrease
0,1,6.777960e+06,1.000000,NaN
1,2,4.600647e+06,0.678766,-0.321234
2,3,3.095678e+06,0.456727,-0.222039
3,4,2.232066e+06,0.329312,-0.127415
4,5,1.971766e+06,0.290908,-0.038404
5,6,1.762905e+06,0.260094,-0.030815
6,7,1.536875e+06,0.226746,-0.033348
7,8,1.429236e+06,0.210865,-0.015881
8,9,1.337227e+06,0.197290,-0.013575
9,10,1.145775e+06,0.169044,-0.028246

## Global Clusters

In [31]:
# Adding the global cluster 'k-cluster_g'
q_industries, _, _ = get_kmean_clusters(X_final = q_industries, k=4, debug=True, random_state=19, 
                       columns=['eff_tax%_perc_glob',
                               'eff_tax%_perc_ind', 'deduc2income_perc_glob', 'deduc2income_perc_ind',
                               '4D_eff_tax%_perc_glob', '4D_deduc2income_perc_glob',
                               '4D_eff_tax_perc_ind', '4D_deduc2income_perc_ind'],
                       ref_cols=['naics2','business_id','bus_loc_id'],
                       cluster_col_name='k-cluster_g',       
                       return_only_ref_cols_and_cluster = False
                                    
)
q_industries.head()

Cluster value counts:
 0    349605
1    328305
2     86636
3     82699
Name: k-cluster, dtype: int64

            Medians

        Min Values

        Max Values

,index,date,naics2,business_id,bus_loc_id,naics_code,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,...,deduc2income_perc_ind,4Delta_abs_eff_tax_rate%,4Delta_abs_deduc_to_income_ratio,4D_eff_tax%_perc_glob,4D_deduc2income_perc_glob,4D_eff_tax_perc_ind,4D_deduc2income_perc_ind,k-cluster,k-cluster,k-cluster
0,0,2001Q1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,...,0.454545,0.000000,0.0,0.500045,0.500000,0.545455,0.545455,1,1,1
1,1,2001Q2,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,...,0.454545,0.000000,0.0,0.500184,0.499954,0.545455,0.545455,1,1,1
2,2,2001Q3,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,...,0.909091,0.000000,0.0,0.500093,0.500047,0.545455,0.545455,1,1,1
3,3,2001Q4,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,...,1.000000,0.000000,0.0,0.499573,0.500190,0.545455,0.545455,2,2,2
4,4,2002Q1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,...,0.454545,0.000022,0.0,0.804250,0.498629,0.545455,0.590909,1,1,1

In [32]:
q_industries.set_index('date', inplace=True)

%store q_industries

In [34]:
q_industries.head()

,index,naics2,business_id,bus_loc_id,naics_code,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,...,deduc2income_perc_ind,4Delta_abs_eff_tax_rate%,4Delta_abs_deduc_to_income_ratio,4D_eff_tax%_perc_glob,4D_deduc2income_perc_glob,4D_eff_tax_perc_ind,4D_deduc2income_perc_ind,k-cluster,k-cluster,k-cluster
date,,,,,,,,,,,,,,,,,,,,,
2001Q1,0,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,16193.58,...,0.454545,0.000000,0.0,0.500045,0.500000,0.545455,0.545455,1,1,1
2001Q2,1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,158968.92,...,0.454545,0.000000,0.0,0.500184,0.499954,0.545455,0.545455,1,1,1
2001Q3,2,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,95335.05,...,0.909091,0.000000,0.0,0.500093,0.500047,0.545455,0.545455,1,1,1
2001Q4,3,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,36138.27,...,1.000000,0.000000,0.0,0.499573,0.500190,0.545455,0.545455,2,2,2
2002Q1,4,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,7334.92,...,0.454545,0.000022,0.0,0.804250,0.498629,0.545455,0.590909,1,1,1

## industry clusters
### Analysis

In [35]:
q_industries, _, _ = get_kmean_clusters(X_final = q_industries, k=4, debug=True, random_state=19, 
                       columns=['eff_tax%_perc_glob',
                               'eff_tax%_perc_ind', 'deduc2income_perc_glob', 'deduc2income_perc_ind',
                               '4D_eff_tax%_perc_glob', '4D_deduc2income_perc_glob',
                               '4D_eff_tax_perc_ind', '4D_deduc2income_perc_ind'],
                       ref_cols=['naics2','business_id','bus_loc_id'],
                    return_only_ref_cols_and_cluster = False
                                    
)
q_industries.head()

Cluster value counts:
 0    349605
1    328305
2     86636
3     82699
Name: k-cluster, dtype: int64

            Medians

        Min Values

        Max Values

,date,index,naics2,business_id,bus_loc_id,naics_code,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,...,4Delta_abs_eff_tax_rate%,4Delta_abs_deduc_to_income_ratio,4D_eff_tax%_perc_glob,4D_deduc2income_perc_glob,4D_eff_tax_perc_ind,4D_deduc2income_perc_ind,k-cluster,k-cluster,k-cluster,k-cluster
0,2001Q1,0,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,...,0.000000,0.0,0.500045,0.500000,0.545455,0.545455,1,1,1,1
1,2001Q2,1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,...,0.000000,0.0,0.500184,0.499954,0.545455,0.545455,1,1,1,1
2,2001Q3,2,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,...,0.000000,0.0,0.500093,0.500047,0.545455,0.545455,1,1,1,1
3,2001Q4,3,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,...,0.000000,0.0,0.499573,0.500190,0.545455,0.545455,2,2,2,2
4,2002Q1,4,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,...,0.000022,0.0,0.804250,0.498629,0.545455,0.590909,1,1,1,1

In [38]:
# REASON WHY WE WILL NOT USE SAME PERCENTILES FOR INDUSTRY THAN FOR GLOBAL (at least at MVP)
for naics2_code in q_industries['naics2'].unique():
    print(f"Analizing industry: {naics2}")
    
    # Calculate the clusters in each group
    single_industry_clusters_df, _, _ = get_kmean_clusters(X_final = q_industries[q_industries['naics2'] == naics2_code], 
                                                    k=4, debug=True, random_state=19, 
                                                   columns=['eff_tax%_perc_glob',
                                                           'eff_tax%_perc_ind', 'deduc2income_perc_glob', 'deduc2income_perc_ind',
                                                            '4D_eff_tax%_perc_glob', '4D_deduc2income_perc_glob',
                                                            '4D_eff_tax_perc_ind', '4D_deduc2income_perc_ind'],
                                                   ref_cols=['naics2','business_id','bus_loc_id'],
                                                   cluster_col_name = 'k-cluster_ind',
                                                   return_only_ref_cols_and_cluster = True
                                    
)
# OBS: There appear two compliant clusters inside the industries

Cluster value counts:
 0    430
1    383
2    129
3     94
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

Cluster value counts:
 0    70861
1    61133
2    17437
3    11977
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

Cluster value counts:
 0    12053
1     8596
2     6453
3     4462
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

Cluster value counts:
 0    48615
1    29382
2    20009
3    19618
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

Cluster value counts:
 0    28199
1    18730
2    12242
3    11669
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

Cluster value counts:
 0    18145
1    17512
2     2437
3     1903
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

Cluster value counts:
 0    104544
1     99266
2     17225
3     13220
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

Cluster value counts:
 0    23137
1    19285
2     3683
3     2807
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

Cluster value counts:
 0    4528
1    3852
2     895
3     635
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

Cluster value counts:
 0    54964
1    53594
2    11950
3    11191
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

In [63]:
#delete
q_industries.index, q_industries.shape

(RangeIndex(start=0, stop=847245, step=1), (847245, 31))

### Adding Internal Industry Clusters

    Here we add the cluster for each industry in the column 'k-cluster_ind'

In [92]:
#Adding internal industry clusters
cluster_col_name='k-cluster_ind'
for naics2_code in q_industries['naics2'].unique():
    print("")
    print(f" Analisis naics: {naics2_code}")
    get_inertia_vs_k(X_final=q_industries[q_industries['naics2']==naics2_code], 
                     columns=['eff_tax_rate%',
                            'deduc_to_income_ratio',
                            '4Delta_abs_eff_tax_rate%', '4Delta_abs_deduc_to_income_ratio'
                             ],
                      random_state = 19, plots=True)

    single_ind_clusters_df = pd.DataFrame()
    single_ind_clusters_df, _, _ = get_kmean_clusters(X_final = q_industries[q_industries['naics2'] == naics2_code], 
                                                        k=4, debug=True, random_state=19, 
                                                       columns=['eff_tax_rate%',
                                                                'deduc_to_income_ratio',
                                                                '4Delta_abs_eff_tax_rate%', '4Delta_abs_deduc_to_income_ratio'
                                                               ],
                                                       ref_cols=['naics2','business_id','bus_loc_id'],
                                                       cluster_col_name=cluster_col_name,
                                                       return_only_ref_cols_and_cluster = True
    )
    # Make sure is int to not have trouble in combinations
    single_ind_clusters_df[cluster_col_name] = single_ind_clusters_df[cluster_col_name].astype(float)
    display(single_ind_clusters_df.head())
    print(single_ind_clusters_df.isnull().sum())
 
    # Update the original DataFrame with the calculated percentiles
    q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] = single_ind_clusters_df[cluster_col_name].values
    #q_industries[cluster_col_name] = q_industries[cluster_col_name].astype(int)
    print("")
    print('single_ind_clusters_df[cluster_col_name] :')
    display(single_ind_clusters_df[cluster_col_name])
    print(single_ind_clusters_df[cluster_col_name].size)
    print("")
    print("q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] :")
    display(q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name])
    display(q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name].size)

 Analisis naics: 22

:Curve   [k]   (inertia)

Cluster value counts:
 0    867
1    132
2     33
3      4
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

  naics2 business_id  bus_loc_id  k-cluster_ind
0     22      109874      110874            0.0
1     22      109874      110874            0.0
2     22      109874      110874            0.0
3     22      109874      110874            1.0
4     22      109874      110874            0.0

naics2           0
business_id      0
bus_loc_id       0
k-cluster_ind    0
dtype: int64

single_ind_clusters_df[cluster_col_name] :

0       0.0
1       0.0
2       0.0
3       1.0
4       0.0
       ...
1031    0.0
1032    0.0
1033    0.0
1034    0.0
1035    0.0
Name: k-cluster_ind, Length: 1036, dtype: float64

1036

q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] :

0       0.0
1       0.0
2       0.0
3       1.0
4       0.0
       ...
1031    0.0
1032    0.0
1033    0.0
1034    0.0
1035    0.0
Name: k-cluster_ind, Length: 1036, dtype: float64

1036

 Analisis naics: 23

:Curve   [k]   (inertia)

Cluster value counts:
 0    146618
1     10999
2      3778
3        13
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

  naics2 business_id  bus_loc_id  k-cluster_ind
0     23      100052      100711            0.0
1     23      100052      100711            0.0
2     23      100052      100711            0.0
3     23      100052      100711            0.0
4     23      100052      100711            0.0

naics2           0
business_id      0
bus_loc_id       0
k-cluster_ind    0
dtype: int64

single_ind_clusters_df[cluster_col_name] :

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
161403    0.0
161404    0.0
161405    0.0
161406    1.0
161407    0.0
Name: k-cluster_ind, Length: 161408, dtype: float64

161408

q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] :

1036      0.0
1037      0.0
1038      0.0
1039      0.0
1040      0.0
         ...
162439    0.0
162440    0.0
162441    0.0
162442    1.0
162443    0.0
Name: k-cluster_ind, Length: 161408, dtype: float64

161408

 Analisis naics: 33

:Curve   [k]   (inertia)

Cluster value counts:
 0    25594
1     5199
2      758
3       13
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

  naics2 business_id  bus_loc_id  k-cluster_ind
0     33       10016       13703            0.0
1     33       10016       13703            0.0
2     33       10016       13703            0.0
3     33       10016       13703            0.0
4     33       10016       13703            0.0

naics2           0
business_id      0
bus_loc_id       0
k-cluster_ind    0
dtype: int64

single_ind_clusters_df[cluster_col_name] :

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
31559    0.0
31560    0.0
31561    0.0
31562    0.0
31563    0.0
Name: k-cluster_ind, Length: 31564, dtype: float64

31564

q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] :

162444    0.0
162445    0.0
162446    0.0
162447    0.0
162448    0.0
         ...
194003    0.0
194004    0.0
194005    0.0
194006    0.0
194007    0.0
Name: k-cluster_ind, Length: 31564, dtype: float64

31564

 Analisis naics: 42

:Curve   [k]   (inertia)

Cluster value counts:
 0    98461
1    17191
2     1940
3       32
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

  naics2 business_id  bus_loc_id  k-cluster_ind
0     42      100028      100686            0.0
1     42      100137      100798            1.0
2     42      100137      100798            1.0
3     42      100137      100798            1.0
4     42      100137      100798            1.0

naics2           0
business_id      0
bus_loc_id       0
k-cluster_ind    0
dtype: int64

single_ind_clusters_df[cluster_col_name] :

0         0.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
117619    0.0
117620    0.0
117621    0.0
117622    0.0
117623    0.0
Name: k-cluster_ind, Length: 117624, dtype: float64

117624

q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] :

194008    0.0
194009    1.0
194010    1.0
194011    1.0
194012    1.0
         ...
311627    0.0
311628    0.0
311629    0.0
311630    0.0
311631    0.0
Name: k-cluster_ind, Length: 117624, dtype: float64

117624

 Analisis naics: 45

:Curve   [k]   (inertia)

Cluster value counts:
 0    63680
1     6341
2      811
3        8
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

  naics2 business_id  bus_loc_id  k-cluster_ind
0     45      100304      100967            0.0
1     45      100304      100967            0.0
2     45      100304      100967            0.0
3     45      100304      100967            0.0
4     45      100304      100967            0.0

naics2           0
business_id      0
bus_loc_id       0
k-cluster_ind    0
dtype: int64

single_ind_clusters_df[cluster_col_name] :

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
70835    0.0
70836    0.0
70837    0.0
70838    0.0
70839    0.0
Name: k-cluster_ind, Length: 70840, dtype: float64

70840

q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] :

311632    0.0
311633    0.0
311634    0.0
311635    0.0
311636    0.0
         ...
382467    0.0
382468    0.0
382469    0.0
382470    0.0
382471    0.0
Name: k-cluster_ind, Length: 70840, dtype: float64

70840

 Analisis naics: 53

:Curve   [k]   (inertia)

Cluster value counts:
 0    38557
1      945
2      328
3      167
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

  naics2 business_id  bus_loc_id  k-cluster_ind
0     53      101126      101809            0.0
1     53      101126      101809            0.0
2     53      101126      101809            0.0
3     53      102508      103230            0.0
4     53      102508      103230            0.0

naics2           0
business_id      0
bus_loc_id       0
k-cluster_ind    0
dtype: int64

single_ind_clusters_df[cluster_col_name] :

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
39992    0.0
39993    0.0
39994    0.0
39995    0.0
39996    0.0
Name: k-cluster_ind, Length: 39997, dtype: float64

39997

q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] :

382472    0.0
382473    0.0
382474    0.0
382475    0.0
382476    0.0
         ...
422464    0.0
422465    0.0
422466    0.0
422467    0.0
422468    0.0
Name: k-cluster_ind, Length: 39997, dtype: float64

39997

 Analisis naics: 54

:Curve   [k]   (inertia)

Cluster value counts:
 0    225940
1      6511
2      1655
3       149
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

  naics2 business_id  bus_loc_id  k-cluster_ind
0     54      100117      100778            0.0
1     54      100117      100778            0.0
2     54      100117      100778            0.0
3     54      100117      100778            0.0
4     54      100117      100778            0.0

naics2           0
business_id      0
bus_loc_id       0
k-cluster_ind    0
dtype: int64

single_ind_clusters_df[cluster_col_name] :

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
234250    0.0
234251    0.0
234252    0.0
234253    0.0
234254    0.0
Name: k-cluster_ind, Length: 234255, dtype: float64

234255

q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] :

422469    0.0
422470    0.0
422471    0.0
422472    0.0
422473    0.0
         ...
656719    0.0
656720    0.0
656721    0.0
656722    0.0
656723    0.0
Name: k-cluster_ind, Length: 234255, dtype: float64

234255

 Analisis naics: 56

:Curve   [k]   (inertia)

Cluster value counts:
 0    46692
1     1711
2      305
3      204
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

  naics2 business_id  bus_loc_id  k-cluster_ind
0     56      100946      101630            0.0
1     56      100946      101630            0.0
2     56      100946      101630            0.0
3     56      100946      101630            0.0
4     56      100946      101630            0.0

naics2           0
business_id      0
bus_loc_id       0
k-cluster_ind    0
dtype: int64

single_ind_clusters_df[cluster_col_name] :

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
48907    0.0
48908    0.0
48909    0.0
48910    0.0
48911    0.0
Name: k-cluster_ind, Length: 48912, dtype: float64

48912

q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] :

656724    0.0
656725    0.0
656726    0.0
656727    0.0
656728    0.0
         ...
705631    0.0
705632    0.0
705633    0.0
705634    0.0
705635    0.0
Name: k-cluster_ind, Length: 48912, dtype: float64

48912

 Analisis naics: 61

:Curve   [k]   (inertia)

Cluster value counts:
 0    9218
1     526
2      90
3      76
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

  naics2 business_id  bus_loc_id  k-cluster_ind
0     61      102156      102860            0.0
1     61      105056      105865            0.0
2     61      105056      105865            0.0
3     61      105056      105865            0.0
4     61      105056      105865            0.0

naics2           0
business_id      0
bus_loc_id       0
k-cluster_ind    0
dtype: int64

single_ind_clusters_df[cluster_col_name] :

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9905    0.0
9906    0.0
9907    0.0
9908    0.0
9909    0.0
Name: k-cluster_ind, Length: 9910, dtype: float64

9910

q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] :

705636    0.0
705637    0.0
705638    0.0
705639    0.0
705640    0.0
         ...
715541    0.0
715542    0.0
715543    0.0
715544    0.0
715545    0.0
Name: k-cluster_ind, Length: 9910, dtype: float64

9910

 Analisis naics: 81

:Curve   [k]   (inertia)

Cluster value counts:
 0    124989
1      6514
2       161
3        35
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

  naics2 business_id  bus_loc_id  k-cluster_ind
0     81      100396      101059            0.0
1     81      100396      101059            0.0
2     81      100396      101059            0.0
3     81      100396      101059            0.0
4     81      100396      101059            0.0

naics2           0
business_id      0
bus_loc_id       0
k-cluster_ind    0
dtype: int64

single_ind_clusters_df[cluster_col_name] :

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
131694    0.0
131695    0.0
131696    0.0
131697    0.0
131698    0.0
Name: k-cluster_ind, Length: 131699, dtype: float64

131699

q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] :

715546    0.0
715547    0.0
715548    0.0
715549    0.0
715550    0.0
         ...
847240    0.0
847241    0.0
847242    0.0
847243    0.0
847244    0.0
Name: k-cluster_ind, Length: 131699, dtype: float64

131699

In [73]:
# Comparing clustering features
cluster_col_name='k-cluster_ind'
naics2_code=='22'
print("")
print(f" Analisis naics: {naics2_code}")
get_inertia_vs_k(X_final=q_industries[q_industries['naics2']==naics2_code], 
                 columns=['eff_tax_rate%',
                        'deduc_to_income_ratio',
                        '4Delta_abs_eff_tax_rate%', '4Delta_abs_deduc_to_income_ratio'
                         ],
                  random_state = 19, plots=True)

single_ind_clusters_df = pd.DataFrame()
single_ind_clusters_df, _, _ = get_kmean_clusters(X_final = q_industries[q_industries['naics2'] == naics2_code], 
                                                    k=4, debug=True, random_state=19, 
                                                   columns=['eff_tax_rate%',
                                                            'deduc_to_income_ratio',
                                                            '4Delta_abs_eff_tax_rate%', '4Delta_abs_deduc_to_income_ratio'
                                                           ],
                                                   ref_cols=['naics2','business_id','bus_loc_id'],
                                                   cluster_col_name=cluster_col_name,
                                                   return_only_ref_cols_and_cluster = True
)
# Make sure is int to not have trouble in combinations
single_ind_clusters_df[cluster_col_name] = single_ind_clusters_df[cluster_col_name].astype(int)
display(single_ind_clusters_df.head())
print(single_ind_clusters_df.isnull().sum())

# Update the original DataFrame with the calculated percentiles
q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] = single_ind_clusters_df[cluster_col_name].astype(int)
#q_industries[cluster_col_name] = q_industries[cluster_col_name].astype(int)
print("")
print('single_ind_clusters_df[cluster_col_name] :')
display(single_ind_clusters_df[cluster_col_name])
print(single_ind_clusters_df[cluster_col_name].size)
print("")
print("q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] :")
display(q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name])
display(q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name].size)

 Analisis naics: 22

:Curve   [k]   (inertia)

Cluster value counts:
 0    867
1    132
2     33
3      4
Name: k-cluster_ind, dtype: int64

            Medians

        Min Values

        Max Values

  naics2 business_id  bus_loc_id  k-cluster_ind
0     22      109874      110874              0
1     22      109874      110874              0
2     22      109874      110874              0
3     22      109874      110874              1
4     22      109874      110874              0

naics2           0
business_id      0
bus_loc_id       0
k-cluster_ind    0
dtype: int64

single_ind_clusters_df[cluster_col_name] :

0       0
1       0
2       0
3       1
4       0
       ..
1031    0
1032    0
1033    0
1034    0
1035    0
Name: k-cluster_ind, Length: 1036, dtype: int64

1036

q_industries.loc[q_industries['naics2'] == naics2_code, cluster_col_name] :

0       0.0
1       0.0
2       0.0
3       1.0
4       0.0
       ...
1031    0.0
1032    0.0
1033    0.0
1034    0.0
1035    0.0
Name: k-cluster_ind, Length: 1036, dtype: float64

1036

In [167]:
# Checking on the order of clusters
# Also looking at the sizes of the industries

large_industries = ['23','54','81', '42', '45']
medium_industries = ['56', '53', '33', '61']
small_industries = [q for q in q_industries['naics2'].unique() if q not in large_industries + medium_industries]

plot1 = q_industries.loc[q_industries['naics2'].isin(large_industries)].groupby(['naics2', 'k-cluster_ind']).size().hvplot(
            kind='bar',
            title="Large Industry Clusters",
            height=300,
            width=800,
            xlabel="NAICS and Industry Cluster Number",
            ylabel="Amount of Periods of Sale Taxes"
)

plot2 = q_industries.loc[q_industries['naics2'].isin(medium_industries)].groupby(['naics2', 'k-cluster_ind']).size().hvplot(
            kind='bar',
            title="Large Industry Clusters",
            height=300,
            width=800,
            xlabel="NAICS and Industry Cluster Number",
            ylabel="Amount of Periods of Sale Taxes"
)

#max_value = q_industries[q_industries['naics2'].isin(small_industries)].groupby('naics2')['k-cluster_ind'].count().max()
plot3 = q_industries.loc[q_industries['naics2'].isin(small_industries)].groupby(['naics2', 'k-cluster_ind']).size().hvplot(
            kind='bar',
            title="Small Industry Clusters",
            height=300,
            width=800,
            xlabel="NAICS and Industry Cluster Number",
            ylabel="Amount of Periods of Sale Taxes"
)


display(plot1)
display(plot2)
display(plot3)

:Bars   [naics2,k-cluster_ind]   (0)

:Bars   [naics2,k-cluster_ind]   (0)

:Bars   [naics2,k-cluster_ind]   (0)

In [ ]:
# Relabel k_cluster_ind and global for 'is_compliant_cluster'
q_industries['is_ccluster_ind']=np.where(q_industries['k-cluster_ind']==0,1,0)
q_industries['is_ccluster_g']=np.where(q_industries['k-cluster_g'].isin([0,1]),1,0)
q_industries[q_industries['k-cluster_ind']!=0][['k-cluster_g','is_ccluster_g','k-cluster_ind','is_ccluster_ind']]

%store q_industries

In [6]:
%store -r q_industries
q_industries.head()

,index,naics2,business_id,bus_loc_id,naics_code,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,...,4D_eff_tax%_perc_glob,4D_deduc2income_perc_glob,4D_eff_tax_perc_ind,4D_deduc2income_perc_ind,k-cluster_ind,k-cluster_g,sumsum_gross_perc_glob,sumsum_gross_perc_ind,is_ccluster_ind,is_ccluster_g
date,,,,,,,,,,,,,,,,,,,,,
2001Q1,0,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,16193.58,...,0.500045,0.500000,0.545455,0.545455,0.0,1,0.085914,0.090909,1,1
2001Q2,1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,158968.92,...,0.500184,0.499954,0.545455,0.545455,0.0,1,0.586863,0.636364,1,1
2001Q3,2,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,95335.05,...,0.500093,0.500047,0.545455,0.545455,0.0,1,0.467638,0.545455,1,1
2001Q4,3,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,36138.27,...,0.499573,0.500190,0.545455,0.545455,1.0,2,0.241137,0.181818,0,0
2002Q1,4,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,7334.92,...,0.804250,0.498629,0.545455,0.590909,0.0,1,0.023600,0.090909,1,1

## Adding cluster counts

In [39]:
# Parameters
ref_cols=['naics2','business_id','bus_loc_id']

In [41]:
cluster_counts_df = get_cluster_counts(
        data_clustered = q_industries,
        cluster_col = 'k-cluster_ind',
        compliant_cluster=0,
        ref_cols=ref_cols,
        extend_data_clustered = True,
        include_out_of_compliance_column=True,
        sort_values=False)
cluster_counts_df

k-cluster_ind,naics2,business_id,bus_loc_id,0.0,1.0,2.0,3.0,non_compliant_cluster,compliant_cluster,prop_outside_compliant_cluster
0,22,109874,110874,7,1,0,0,1,7,0.125000
1,22,129983,131500,7,0,0,0,0,7,0.000000
2,22,131014,132555,38,41,9,0,50,38,0.568182
3,22,179077,181638,11,4,0,0,4,11,0.266667
4,22,185610,188153,0,1,0,0,1,0,1.000000
...,...,...,...,...,...,...,...,...,...,...
28457,81,98622,99232,12,0,0,0,0,12,0.000000
28458,81,98810,99430,23,0,0,0,0,23,0.000000
28459,81,99641,100278,86,0,0,0,0,86,0.000000
28460,81,99677,100315,43,0,0,0,0,43,0.000000
28461,81,99932,100589,52,0,0,0,0,52,0.000000

In [33]:
q_industries

,index,naics2,business_id,bus_loc_id,naics_code,business_legal_name,maxNumLoc,tax_period_cd,obl_type_id,sumsum_gross,...,k-cluster_ind,k-cluster_g,sumsum_gross_perc_glob,sumsum_gross_perc_ind,is_ccluster_ind,is_ccluster_g,max_outlier_score,hd-cluster,out_of_compliance,prop_outside_compliant_cluster
date,,,,,,,,,,,,,,,,,,,,,
2001Q1,0,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,16193.58,...,0.0,1,0.085914,0.090909,1,1,0.711264,1.0,0,0.125
2001Q2,1,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,158968.92,...,0.0,1,0.586863,0.636364,1,1,0.711264,1.0,0,0.125
2001Q3,2,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,95335.05,...,0.0,1,0.467638,0.545455,1,1,0.711264,0.0,0,0.125
2001Q4,3,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,36138.27,...,1.0,2,0.241137,0.181818,0,0,0.711264,0.0,1,0.125
2002Q1,4,22,109874,110874,221122,ISLAND UTILITY COMPANY,1,Q,10,7334.92,...,0.0,1,0.023600,0.090909,1,1,0.711264,1.0,0,0.125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012Q4,847240,81,99932,100589,811430,RAMUTA RONALD K,1,Q,10,38792.45,...,0.0,0,0.073894,0.072281,1,1,NaN,NaN,0,0.000
2013Q1,847241,81,99932,100589,811430,RAMUTA RONALD K,1,Q,10,33359.00,...,0.0,0,0.063256,0.057163,1,1,NaN,NaN,0,0.000
2013Q2,847242,81,99932,100589,811430,RAMUTA RONALD K,1,Q,10,30774.00,...,0.0,0,0.043253,0.037853,1,1,NaN,NaN,0,0.000
2013Q3,847243,81,99932,100589,811430,RAMUTA RONALD K,1,Q,10,29426.75,...,0.0,1,0.043347,0.037827,1,1,NaN,NaN,0,0.000
2013Q4,847244,81,99932,100589,811430,RAMUTA RONALD K,1,Q,10,34291.91,...,0.0,1,0.056097,0.053905,1,1,NaN,NaN,0,0.000

%store q_industries

# Adding outlier score features

## Including Features for Outlier Score

    Here we include features in relation to classifications of the points as outliers in internal clusters of the industries.
    
    We will include:
    1) max_outlier_score (from get_outlier_scores function)
    2) hd-cluster (from get_outlier_score function)
    3) proportion outside the outlier cluster (from get cluster counts function)

In [196]:
get_outlier_scores?

Signature:
get_outlier_scores(
    data_input: pandas.core.frame.DataFrame,
    set_of_features: List = None,
    ref_cols: List = ['date', 'naics_code', 'business_id', 'bus_loc_id'],
    min_cluster_size: Optional[int] = None,
    min_samples: Optional[int] = None,
    window_size_for_rolling: int = 4,
    add_outlier_score_to_data_input: bool = True,
    add_hd_cluster_column_to_data: bool = True,
    show_hdbscan_cluster_classification: bool = True,
) -> pandas.core.frame.DataFrame
Docstring:
Get outlier scores using HDBSCAN clustering algorithm for the given data.
This are GLOSH scores, which considers local density of the points.

Parameters:
    data_input (pd.DataFrame): The input DataFrame containing the data.
    set_of_features (List, optional): List of feature names to
        consider. If None, all numeric columns are selected.
    min_cluster_size (int, optional): The minimum size of clusters.
        Defaults to 10% of the data, or 2, whatever is maximum.
    min_samples (int, optional): The minimum number of samples in
        a neighborhood to be considered a core point. Defaults to 2%
        of the data, or 1, whatever is maximum.
    add_outlier_score_to_data_input (bool, optional): Whether to add
        outlier scores to the input data as a new column. Defaults to True.
    add_hd_cluster_column_to_data (bool, optional): Whether to add the
        HDBSCAN cluster labels to the input data. Defaults to True.
    show_hdbscan_cluster_classification (bool, optional): Whether to
        print the HDBSCAN cluster classifications. Defaults to True.

Returns:
    pd.DataFrame: The input data DataFrame with the outlier scores included.
File:      ~/paola_notebooks/DataScienceTools/dstools/mlutils/corp_tax_audit_unsupervised.py
Type:      function

In [28]:
# THIS CODE BREAKS DUE TO LACK OF MEMORY STARTING ON INDUSTRY NAICS2: 23
# Parameters
set_of_features = ['eff_tax_rate%',
                    'deduc_to_income_ratio',
                 #   '4Delta_abs_eff_tax_rate%', '4Delta_abs_deduc_to_income_ratio'
                   ]
ref_cols=['naics2','business_id','bus_loc_id']

data = q_industries[q_industries['naics2']=='42'][ref_cols + set_of_features].reset_index()
data.head()

# Global outlier scores will not be performed, since it broke whe I tried. Can be done in a stronger machine

# Addition of industry percentiles
for naics2_code in q_industries['naics2'].unique():
    print(f"working on cluster {naics2_code}")
    outlier_scores_df = pd.DataFrame()
    data_df = q_industries[q_industries['naics2']==naics2_code][ref_cols + set_of_features].reset_index()
    get_outlier_scores(data_input = data_df,
                               set_of_features=set_of_features,
                               ref_cols = ref_cols,
                               add_outlier_score_to_data_input = True,
                               add_hd_cluster_column_to_data = True,
                               show_hdbscan_cluster_classification = True
                                )
 
    all_col_names = ['outlier_score', 'rolling_outlier_score', 'max_outlier_score']
    added_col_names = ['max_outlier_score', 'hd-cluster']

    # Update the original DataFrame with the outlier scores
    q_industries.loc[q_industries['naics2'] == naics2_code, added_col_names] = data_df[added_col_names].values

    print("")
    print("q_industries.loc[q_industries['naics2'] == naics2_code, added_col_names] :")
    display(q_industries.loc[q_industries['naics2'] == naics2_code, added_col_names].size)
    display(q_industries.loc[q_industries['naics2'] == naics2_code, added_col_names])

working on cluster 22
HDBSCAN Cluster Classifications in Data:
 3    340
 1    244
 2    204
 0    172
-1     76
Name: hd-cluster, dtype: int64

q_industries.loc[q_industries['naics2'] == naics2_code, added_col_names] :

2072

        max_outlier_score  hd-cluster
date
2001Q1           0.711264         1.0
2001Q2           0.711264         1.0
2001Q3           0.711264         0.0
2001Q4           0.711264         0.0
2002Q1           0.711264         1.0
...                   ...         ...
2021Q3           0.603821         2.0
2021Q4           0.603821         2.0
2022Q1           0.603821         2.0
2022Q2           0.603821         2.0
2022Q3           0.603821         2.0

[1036 rows x 2 columns]

working on cluster 23

TerminatedWorkerError: A worker process managed by the executor was unexpectedly terminated. This could be caused by a segmentation fault while calling the function or by an excessive memory usage causing the Operating System to kill the worker.

The exit codes of the workers are {SIGKILL(-9)}